{% extends 'app/base.html' %}
{% block content %}
<div class="header-title-section">
    <div class="create-section-header-one"></div>
    <div class="create-section-header-two"><h1 class="create-discussion-title">Create Thread Discussion</h1></div>
    <div class="create-section-header-three"><a class="create-discussion-link" href="{% url 'thread_list' %}">Back to Discussions</a></div>
    </div>
<div class="create-discussion-section">
<form method="post">
    {% csrf_token %}
    {{form.media}}
    <div class="create-discussion-title-input">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Thread Title:</label>
        {{ form.title }}
    </div>
    <label for="{{ form.text.id_for_label }}">Thread Text:</label>
    <div class="create-discussion-textarea-input">
        {{ form.text.errors }}
        {{ form.text }}
    </div>
    <div class="create-discussion-submit-container">
    <button class="create-discussion-submit-input" type="submit">Create Thread</button>
    </div>
    </div>
</form>
</div>
{% endblock %}