{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="profile-display">
<div class="profile-split-display">
    <h1>Your Threads</h1>
    {% if threads %}
    {% for thread in threads %}
    <div class="profile-split-item-container">
        <div class="profile-split-item-one">
    <a href={% url 'thread_detail' thread.id %}>{{ thread.title }}</a>
        </div>
        <div class="profile-split-item-two">
            <a class="profile-split-item-two-link" href="{% url 'thread_delete' thread.id %}">DELETE</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No threads to show</p>
    {% endif %}
</div>
<div class="profile-split-display">
    <h1>Your Comments</h1>
    {% if comments %}
    {% for comment in comments %}
    <div class="profile-split-item-container">
    <div class="profile-split-item-one">
    <a href={% url 'thread_detail' comment.thread.id %}>Comment made in {{ comment.thread.title }}</a>
    <blockquote>{{ comment.body }}</blockquote>
    </div>
    <div class="profile-split-item-two">
        <a class="profile-split-item-two-link" href="{% url 'comment-delete' comment.id %}">DELETE</a>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No comments to show</p>
    {% endif %}
</div>
</div>

{% endblock %}