{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="header-title-section">
<div class="section-header-one"></div>
<div class="section-header-two"><h1 class="create-discussion-title">Latest Discussions</h1></div>
<div class="section-header-three"><a class="create-discussion-link" href="{% url 'create-thread' %}">Create New Discussion</a></div>
</div>
<div class="thread-section">
    <table>
        <tr>
          <th></th>
          <th>Last Update</th>
          <th>Replies</th>
        </tr>
{% for thread in threads %}
<tr class="table-rows-thread">
<td class="thread-title-column">
<a href="{% url 'thread_detail' thread.id %}" ><h3>{{thread.title}}</h3></a>
</td>
<td class="thread-date-column">
    {{thread.latest_comment_date}}
</td>
<td class="thread-reply-count">{{thread.num_of_comments}}</td>
</tr>
{% endfor %}

</div>
{% endblock %}