@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu Mono';
    min-width: 40%;
}
a {
  color: black;
  text-decoration: none;
}

a :active {
  color: black;
}

.article-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;

}

.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.article-card {
border: 1px solid black;
height: 300px;
width: 250px;
padding-bottom: 50px;
text-align: center;
border-radius: 10px;
}

.card-image {
  width: 250px;
  height: 275px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.log-block {
  width: 30%;
  margin: 10% 20% 0% 40%;
  position: absolute;
  z-index: -100;
}

.topnav {
    overflow: hidden;
    background-color: black;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav .icon {
    display: none;
  }

/* desktop Thread List */
.header-title {
  width: 60%;
  margin: auto;
}

.thread-section {
  width: 80%;
  margin: auto auto 5% 10%;
}

.thread-title-column {
  width: 70%;

}

.thread-date-column {
  text-align: center;
  width: 25%;
}


.thread-reply-count {
  text-align: center;
}

.table-rows-thread td {
  border-bottom: 5px solid black;
  border-collapse: collapse;
}

.create-discussion-area {
  width: 90%;
  margin-right: 10%;
  display: inline-block;
}

.create-discussion-link {
  float: right;
}

.header-title-section {
  width: 100%;
  display: inline-flex;
}

.section-header-one {
  width: 33%;
}

.section-header-two {
  width: 33%;
  font-size: x-large;
}

.section-header-three {
  width: 33%;
  padding: 35px;
  
}

.detail-section-header-one {
  width: 15%;
}

.detail-section-header-two {
  width: 70%;
  font-size: x-large;
  text-align: center;
}

.detail-section-header-three {
  width: 15%;
  padding: 35px;
  
}

/* Desktop Detail */
.detail-title {
  width: 60%;
  margin: auto;
  font-size: xx-large;
  text-align: center;
}

.detail-body {
  width: 70%;
  margin: auto;
}

.detail-snippet {
  width: 70%;
  margin: auto;
  font-style: italic;
}

.detail-image-container {
  width: 100%;
}

.detail-image {
  width: 100%;
  height: 400px;
}

.thread-detail {
  width: 80%;
  margin: auto;
}


/* Profile CSS */

.profile-display {
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.profile-split-display {
  width: 40%;
  margin-left: 5%;
  border: 5px solid black;
  padding: 7px;
  border-radius: 10px;
}





/* Mobile Settings */
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }

    .article-list {
      display: grid;
      grid-template-columns: 1fr;
    }
    
    .article-card {
    border: 1px solid black;
    height: 300px;
    width: 250px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .log-block {
      margin: 20% 20% 0% 40%;
    }
    .topnav.responsive {
      position: absolute;
      z-index: 100;
      width: 100%;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }